.image{
  background-image:url("./assets/images//kontra.png") ;
  background-color: rgb(15, 15, 50);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.end{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes slide {
  0% { transform: translateX(-100%); 
    background-color: rgb(4, 4, 54);
  }
  25% { transform: translateX(-100%); 
    background-color: pink;
  }
  50% { transform: translateX(-100%); 
    background-color: yellow;
  }
  70% { transform: translateX(-100%); 
    background-color: orangered;
  }
  100% { transform: translateX(100%); }
}

.animated-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  text-align: center;
  border-radius: 50rem;
  background-color:aqua ;
  color:whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  animation: slide 10s linear infinite;
}